/* ======================= GERAL ======================= */
.home-container {
    width: 100%;
    padding: 0;
    background: linear-gradient(180deg, #8c0000, #111);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

/* BOTÕES */
.btn-primary {
    background: #F72B2B;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #eaeaea;
    color:#870000;
}

.btn-secondary {
    border: 1px solid #fff;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    transition: 0.3s;
    background-color: #eeeeee;
    color: #111;
}

.btn-secondary:hover {
    background: #1b1b1b;
    color: rgb(232, 232, 232);
}

/* ======================= HERO ======================= */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 5%;
    gap: 32px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 22px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 24px;
    opacity: 0.8;
}

.hero-banner img {
    width: 880px;
    border-radius: 12px;
    box-shadow: 0 0 12px #000;
}

/* ======================= DESTAQUES ======================= */
.destaques {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 48px auto;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 220px;
    background: #1a1a1a;
    padding: 24px;
    border-radius: 16px;
    transition: 0.3s;
    gap: 1.0rem;
}

.card:hover {
    transform: translateY(-6px);
    background: #fbfbfb;
    color: #8c0000;
}

.card i {
    font-size: 40px;
    margin-bottom: 12px;
}

/* ======================= PRÓXIMO JOGO ======================= */
.proximo-jogo {
    text-align: center;
    padding: 64px 0;
}

.jogo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 44px auto;
}

.jogo-card img {
    width: 120px;
    border-radius: 50%;
}

.versus {
    font-size: 48px;
    font-weight: bold;
}

.info {
    font-size: 20px;
    margin-bottom: 24px;
    opacity: 0.9;
}

/* ======================= PRODUTOS ======================= */
.produtos {
    text-align: center;
    padding: 64px 0;
}

.cards-produtos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    margin: 30px 0px;
}

.product-card {
    width: 390px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    transition: 0.3s;
    position: relative;
    transform: scale(0.80);
    gap: 20px;
}

.product-card:hover {
    transform: scale(0.82)translateY(-8px);
}

.product-card.um .product-image.um img {
    width: 300px;
}

.product-card.dois .product-image.dois img, .product-card.tres .product-image.tres img {
    width: 325px;
}





.product-image {
    background: linear-gradient(180deg, #681313, #3d0b0b);
    padding: 32px;
    display: flex;
    justify-content: center;
}


.product-image img {
    width: 260px;
    transform: rotate(-12deg);
    transition: 0.5s;
    cursor: pointer;
}
.product-image img:hover {
    transform: rotate(-0deg);
}

.product-info {
    padding: 20px 24px;
    color: #111;
}

.product-info h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #111;
}

.product-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
}

.tag {
    background: #eee;
    color: #333;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: 600;
}

.desc {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 0; 
    transition: 0.3s;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.4s ease;
}

.product-card:hover .bottom {
    opacity: 1;
    transform: translateY(0);
}

.price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #8c0000;
}

.btn-add {
    background: #870000;
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-add:hover {
    background: #151515;
}

.product-card:hover .desc {
    margin-bottom: 20px;
}


/* ======================= NOTÍCIAS ======================= */
.noticias {
    padding: 64px 0;
    text-align: center;
}

.noticia-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 42px;
    flex-wrap: wrap;
}

.noticia {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: #222;
    width: 300px;
    border-radius: 16px;
    padding-bottom: 50px;
    transition: 0.3s;
    gap: 1.0rem;
}

.noticia:hover {
    transform: translateY(-6px);
    background: #333;
}

.noticia img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

/* ======================= RESPONSIVO ======================= */
@media (max-width: 900px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-banner img {
        width: 90%;
    }

    .produtos-track {
        width: 90%;
    }
}

/* ================================================================= */
/* ======================= NOVOS CARDS DE PRODUTOS ================= */
/* ================================================================= */

