body{
    background: radial-gradient(circle at center, #8F0000 10%, #0F0F0F 100%);
    background-repeat: no-repeat;

}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 30px;
    margin: 120px 65px;
    border-radius: 20px;
    background: #8F0000(0, 28, 79, 0.3); /* cor semitransparente */
    backdrop-filter: blur(50px); /* o blur no fundo */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 600px;
}
    

.fa-arrow-left{
  color: #e6e6e6;
  font-size: 2.5rem;
  color: #e6e6e6;
  font-size: 2.5rem;
  margin-right: 20px; /* margem menor e mais equilibrada */
  width: 5%;
  text-align: left;
}

    
#area_seta {
    width: 100%;
}


.conteiner h2{
    margin: 40px 0px 50px 0px;
    color: #d2d2d2 ;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
} 

.caixa {
    display: flex;
    align-items: center;
    gap: auto;                   /* Espaço entre ícone e input */
    margin: 10px 0PX;
    border: 1px solid white;
    border-radius: 15px;
    padding: 8px 15px;
    background-color: transparent;
    max-width: 300px;
}




.caixa input{
    flex: 1;                     /* Faz o input ocupar o espaço restante */
    height: 20px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    outline: none;
}

.caixa input::placeholder{
    color: aliceblue;
    left: 100%;
}


input:focus {
  outline: none;              /* tira a borda azul padrão */
  background-color: transparent; /* deixa sem cor */
  box-shadow: none;           /* remove brilho */
}



input[type="password"]::-ms-reveal {            /* trocando a cor do olho deixando inverso */
  filter: invert(1);
}


.caixa i{
    color: aliceblue;
    font-size: 18px;
    flex-shrink: 0;              /* Impede o ícone de encolher */
}



.esqueceu_senha h4{
    color: rgb(213, 211, 211);
    text-decoration-line: none;
    font-size: 1.1rem;
    margin: 0px 0px 0px 6rem;
    
}

.criar-conta{
    margin-top: 10px;
    color: aliceblue;
    margin-bottom: 100px;
    font-size: 1.2em;

}


.criar-conta a{
    color: #F7C02B;
    

}

#aviso {
    color: #F7C02B;
}


/* celular */
@media screen and (min-width: 768px) {
    .conteiner {
        width: 60%;
    }

    /* .fa-arrow-left{
        margin: 0rem 770px 0px 0px;
    } */

    .box{
        width:10%;
    }
    .caixa{
        gap: 1%;
    }

    .esqueceu_senha{
        margin-left: 100px;
    }
}


/* tablete */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .conteiner {
        width: 50%;
    }

    /* .fa-arrow-left{
        margin: 0rem 350px 0px 0px;
    } */

    .box,  .caixa{
        width:60%;
    }
        .esqueceu_senha{
        margin-left: 50px;
    }
}

/* pc */
@media screen and (min-width: 1025px) and (max-width: 1920px){
    /* .fa-arrow-left{
         margin: 0rem 530px 0px 0px;
    } */

        .box,  .caixa {
        width:60%;
    }
    .esqueceu_senha{
        margin-left: 90px;
    }

}

