@import url('botoes_cores_fontes/cores.css');

body {
    background-color: var(--cor-de-fundo-terceiraria);
}

.main-perfil {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-usuario {
    background-color: #fff;
    width: 20%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: left;
}

.todas-infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.todas-infos .info-pessoais, .todas-infos .info-endereco {
    flex: 2;
}

.info-usuario h1 {
    margin-bottom: 20px;
    color: #001A4A;
}

.info-usuario h2,
.info-usuario h3 {
    margin-top: 20px;
    color: #3145B5;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.campo .info {
    padding: 8px;
    border: none;
}

@media (max-width: 900px) {
    .info-usuario {
        width: 70%;
        padding: 20px;
    }

    .todas-infos {
        flex-direction: column;
    }
}