 body {
    height: 100vh;
    height: 100vh;
    background: radial-gradient(circle at center, #014ac9 10%, #001A4A 100%);
    height: 100vh;
    }


    main{
    height: 100vh;
    margin: 0;
    width: 0;
    display: flex; 
    }

    

    .conteiner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 100px 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }


    .titulo{
        color: aliceblue;
        text-align: center;
        margin-bottom: 100px;

    }



    .logo_email{
      margin-top: 20px;
      width: 90px;
      height: 90px;
      opacity: 100%;
    }



    .verificacao {
      display: flex;
      margin: 0px 30px;
      gap:20px; /* espaço entre caixas */
      border: 1px white;
    }

    .verificacao input {
      margin-top: 80px;
      width: 50px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      border: 2px solid #dbdbdb;
      border-radius: 1px;
      outline: none;
      border: none;                /* tira a borda */
      border-bottom: 2px solid #fdfdfd; /* só a linha embaixo */
      background: transparent;     /* fundo transparente */
      outline: none;               /* tira a borda azul padrão */
      color: #dbdbdb;
    }


    .verificacao input:focus {
      border-color: rgb(255, 0, 0);

    }

    .btn{
        margin:  80px 30px 20px 40px;
        width: 220px;
        height: 35px;
        border: 1px solid transparent ;
        color: aliceblue;
        background-color: rgb(198, 0, 0);
    }

    
    .duvida{
      color: #dbdbdb;
      margin-top: 30px;
      margin-bottom: 10px;
      

    }

    .reenviar{
        color: #F7C02B ;
        font-size: 20px;
    }


