* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Roboto Condensed', sans-serif;

}
.cabecalho {
    background-color: #001A4A;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
}

.logo img {
    width: 10%;
    height: 20%;
}

.logo h1 {
    font-size: small;
    width: 100%;
    color: #ffffff;
}

.menu-hamburgue {
    display: flex;
    list-style: none;
    gap: 8px;
}

.menu-hamburgue a {
    color: #ffffff;
    text-decoration: none;
}

.nav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
    width: 100%;
    justify-content: end;    
}

.hamburguer-opcoes {
    display: flex;
    background-color: #001A4A;
    flex-direction: column;
    list-style: none;
    gap: 4px;
    padding: 4px;
    width: 20%;
    border-radius: 0px 0px 8px 8px;
    margin-right: 16px;
    align-items: center;
    position: absolute;
}

.hamburguer-opcoes a {
    text-decoration: none;
    color: #ffffff;
    padding: 4px;
}

.hamburguer-opcoes .opcao-nav {
    padding: 4px;
    text-align: start;
}

footer {
    background-color: #001A4A;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 8px 0px 0px 0px;
}