* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Roboto Condensed', sans-serif;

}

/* novo estilo de navbar (opcional) */
.cabecalho{
    background: linear-gradient(180deg, #0f0f0f, #0d0d0d);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6),
    inset 450px 1px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
}

.logo img {
    width: 17%;
    height: 20%;
    min-width: 24px;
}

.logo h1 {
    margin-left: 10px ;
    font-size: small;
    width: 100%;
    color: #ffffff;
}

.menu-hamburgue {
    display: flex;
    list-style: none;
    gap: 8px;
}

.menu-hamburgue a {
    color: #ffffff;
    text-decoration: none;
}

.nav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
    width: 100%;
    justify-content: end;
    position: absolute;
    z-index: 9999;
    margin-top: 13rem;
}

.hamburguer-opcoes {
    display: flex;
    background-color: #161616;
    flex-direction: column;
    list-style: none;
    gap: 4px;
    padding: 4px;
    width: 20%;
    border-radius: 0px 0px 8px 8px;
    margin-right: 16px;
    align-items: center;
}

.btn-esconde {
        display: none;
    }

.hamburguer-opcoes a {
    text-decoration: none;
    color: #ffffff;
    padding: 4px;
}

.hamburguer-opcoes .opcao-nav {
    padding: 4px;
    text-align: start;
}
.hamburguer-opcoes .opcao-nav a {
    transition: 0.3s;
}

.hamburguer-opcoes .opcao-nav a:hover {
        color: #8F0000;
    }

footer {
    background-color: #161616;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 8px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        height: 80px;
        display: flex;
    }

    .menu-hamburgue {
        display: none;
    }

    .nav {
        position: static;
        width: 28rem;
        display: flex;
        justify-content: start;
        margin-top: 0;
    }
    
    .hamburguer-opcoes {
        display: flex;
        flex-direction: row;
        background: none;
        width: 28rem;
    }

    .hamburguer-opcoes .btn-esconde {
        display: block;
    }

    .logo {
        width: 24rem;
        display: flex;
        align-items: center;
        justify-content: start;
        text-decoration: none;
        margin-right: 16rem;
    }

    .logo img {
        max-width: 50px;
    }
    
}