{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock css_extra %}

{% block conteudo_pagina %}    
<section class="app-slider">

    <div class="slides-wrapper">

        <div class="slide active">
            <div class="conteudo">
                <div class="texto">
                    <h2>Loja de Produtos</h2>
                    <p>Interface moderna e navegação fluida.</p>
                </div>
                <div class="imagem">
                    <img src="{% static 'img/print1.png' %}">
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="conteudo">
                <div class="texto">
                    <h2>Cadastro Rápido</h2>
                    <p>Fluxo simples e integrado ao Django.</p>
                </div>
                <div class="imagem">
                    <img src="{% static 'img/demo/login_view.png' %}">
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="conteudo">
                <div class="texto">
                    <h2>Login Seguro</h2>
                    <p>Autenticação com proteção de dados.</p>
                </div>
                <div class="imagem">
                    <img src="{% static 'img/demo/login_view.png' %}">
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock conteudo_pagina %}  

{% block js_pagina %}
    <script src="{% static "js/demo.js" %}"></script>
{% endblock js_pagina %}