{% load static %}
<link rel="stylesheet" href="{% static 'css/game_toturial.css' %}">
<section class="tutorial">
    
<div class="cards">

    <!-- ETAPA 1 -->
    <div class="card">
        <div class="card-inner">

            <div class="card-front">
                <!-- Etapa 1 -->
            </div>

            <div class="card-back">
                selecione os itens sorteados o mais rápido possível
            </div>

        </div>
    </div>

    <!-- ETAPA 2 -->
    <div class="card">
        <div class="card-inner">

            <div class="card-front">
                <!-- Etapa 2 -->
            </div>

            
            <div class="card-back">
                encontre os itens na loja e adicione ao carrinho
            </div>

        </div>
    </div>

    <!-- ETAPA 3 -->
    <div class="card">
        <div class="card-inner">

            <div class="card-front">
                <!-- Etapa 3 -->
            </div>

            <div class="card-back">
                finalize a compra o mais rápido possível
            </div>

        </div>
    </div>

</div>

    <button class="next-btn">SEGUIR</button>

</section>


<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script src="{% static 'js/game_toturial.js' %}"></script>