{% load static %}
<link rel="stylesheet" href="{% static 'css/game_roleta.css' %}">

<section class="slot-machine">

    {{ produtos|json_script:"produtos-data" }}
    {{ sorteados|json_script:"sorteados-data" }}

    <!-- REEL 1 -->
    <div class="reel" id="reel1">
        <div class="reel-track"></div>
    </div>

    <!-- REEL 2 -->
    <div class="reel" id="reel2">
        <div class="reel-track"></div>
    </div>

    <!-- REEL 3 -->
    <div class="reel" id="reel3">
        <div class="reel-track"></div>
    </div>

    <div class="lever-container">
        <img src="{% static 'jogo/icones/alavanca-de-controle.png' %}" id="lever">
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script src="{% static 'js/game_roleta.js' %}"></script>