# Python
# Ignora arquivos de bytecode, arquivos de cache e diretórios de virtual env.
*.pyc
__pycache__/
venv/
env/
.env

# Ignora arquivos de log, temporários e de virtual env.
*.log
*.tmp
*.bak
*.swp
*.swo

# Banco de dados
# Ignora arquivos de banco de dados SQLite.
db.sqlite3

# Diretórios de Mídia e Estáticos
# Ignora arquivos enviados pelo usuário (media) e arquivos estáticos gerados.
media/
static_collected/

# IDEs e Editores de Texto
# Ignora arquivos de configuração de IDEs comuns como VS Code, PyCharm, etc.
.idea/
.vscode/
.DS_Store

# Cobertura de Testes
# Ignora relatórios de cobertura de testes.
htmlcov/
.coverage

# Dependências
# Ignora o diretório de virtual env para que as dependências não sejam versionadas.
# A lista de dependências deve ser gerenciada pelo arquivo requirements.txt.
.venv/
venv/
ENV/
env/
/bin/
/include/
/lib/
/share/

# Arquivos de Sistema Específicos do Usuário
# Ignora arquivos de sistema específicos que não são relevantes para o projeto.
.DS_Store
Thumbs.db

# Configurações de Ambiente
# Ignora arquivos com informações sensíveis, como chaves de API e senhas.
# O arquivo .env é a forma mais comum de gerenciar isso.
.env
certs/