@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
  font-family: 'Bebas Neue', sans-serif;
}




h3{

    font-family: 'Oswald', sans-serif;
    font-weight: 600; /* com semibold */

}



@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
p{
    font-family: 'Roboto Condensed', sans-serif;  


}