{% extends "base.html" %}
{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock css_extra %}


{% block conteudo_pagina %}    
    <main>
        <div  class = "conteiner">
            <div id="area_seta">
                <a href="{% url 'login' %}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            
            <h2 class = "titulo_login">Cadastrar-se</h2>

            <div class = "caixa usuario">
                <i class='bx bx-user'></i>
                <input  placeholder="Nome" type="text">
            </div>


            <div class = "caixa senha">
                <i class='bx bx-user'></i>
                <input  placeholder="Sobrenome" type="text">
            </div>
            

            <h3 class="comando">Selecione seu sexo:</h3>


        <div  class ="informando_o_sexo" >
            <div class = "caixinha masculino" id="caixa_m">  
                <i class="fa-solid fa-mars"></i>
            </div>
            
            
            <div class = "caixinha  feminino" id="caixa_f">
                <i class ="fa-solid fa-venus"></i>
            </div>
        </div>  


        <div class="caixa_indeciso">
            <label>
            <input type="checkbox" id="check">
                <p>PREFIRO NÃO INFORMAR</p>
            </label>
        </div>


            <a href= "{% url 'cadastro2' %}">
                <button class = "btn-terceiro"> próximo </button>
             </a>


            <div class="etapas">

                <div class="etapa">
                    <div class="circulo um">1</div>
                </div>

                <div class="etapa">
                    <div class="circulo dois">2</div>
                </div>

                <div class="etapa">
                    <div class="circulo tres">3</div>             
                </div>
            </div>            
        </div>
     </main>
{% endblock conteudo_pagina %}    



    <footer>&copy;</footer>
    <script src="../js/main.js"></script>
    <script src="../js/cadastro.js"></script>
</body>
</html>