{% extends "base.html" %}
{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/botoes_cores_fontes/ver_botoes.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock css_extra %}


<form method="POST">
     {% csrf_token %}%

{% block conteudo_pagina %}    


    
    <main>
        <div  class = "conteiner">
            <div id="area_seta">
                <a href="{% url 'login' %}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            
            <h2 class = "titulo_login">Cadastrar-se</h2>

            <div class = "caixa usuario">
                <i class='bx bx-user'></i>
                <input name = "nome" placeholder="Nome" type="text" required>
            </div>


            <div class = "caixa senha">
                <i class='bx bx-user'></i>
                <input name ="sobrenome" placeholder="Sobrenome" type="text" required>
            </div>
            

            <h3 class="comando">Selecione seu sexo:</h3>


        <div  class ="informando_o_sexo" >
            <div class = "caixinha masculino" name="sexo" id="caixa_m" hidden>  
                <i class="fa-solid fa-mars"></i>
            </div>
            
            
            <div class = "caixinha  feminino" name="sexo" id="caixa_f" hidden>
                <i class ="fa-solid fa-venus"></i>
            </div>
        </div>  


        <div class="caixa_indeciso">
            <label>
            <input type="checkbox" name ="sexo_indefinido" id="check">
                <p>PREFIRO NÃO INFORMAR</p>
            </label>
        </div>


            <a href= "{% url 'cadastro2' %}">
                <button class = "btn-terceiro"> próximo </button>
             </a>


            <div class="etapas">

                <div class="etapa">
                    <div class="circulo um">1</div>
                </div>

                <div class="etapa">
                    <div class="circulo dois">2</div>
                </div>

                <div class="etapa">
                    <div class="circulo tres">3</div>             
                </div>
            </div>            
        </div>
     </main>
{% endblock conteudo_pagina %}

{% block js_pagina %}
    <script src="{% static "js/cadastro.js" %}"></script>
{% endblock %}
</body>
</html>