<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/escudo_aguia_maraba.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cadastro.css">
    <link rel="stylesheet" href="../../botoes_cores_fontes/ver_botoes.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Cadastro</title>
</head>
<body>
    <header class="cabecalho">
        <a class="logo" href="index.html">
            <img src="../img/logo_time_drako 3.png" alt="escudo do águia de marabá">
            <h1>DRAKOS FC</h1>
        </a>
        <ul class="menu-hamburgue">
            <li><a href="login.html">Login</a></li>
            <li id="botao_hamburguer"><a href="#">Outros</a></li>
            <li><a href="carrinho.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul> 
        <div class="nav">
            <ul class="hamburguer-opcoes">
                <li class="opcao-nav"><a href="loja_detalhe.html">Loja</a></li>
                <li class="opcao-nav"><a href="noticias.html">Notícias</a></li>
                <li class="opcao-nav"><a href="historia.html">História</a></li>
                <li class="opcao-nav btn-esconde"><a href="login.html">Login</a></li>
                <li class="opcao-nav"><a href="ingresso.html">Ingressos</a></li>
                <li class="opcao-nav"><a href="socio.html">Sócios</a></li>
                <li class="btn-esconde"><a href="carrinho.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </header>


    
    <main>
        <div  class = "conteiner">
            <div id="area_seta">
                <a href="login.html"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            
            <h2 class = "titulo_login">Cadastrar-se</h2>

            <div class = "caixa usuario">
                <i class='bx bx-user'></i>
                <input  placeholder="Nome" type="text">
            </div>


            <div class = "caixa senha">
                <i class='bx bx-user'></i>
                <input  placeholder="Sobrenome" type="text">
            </div>
            

            <h3 class="comando">Selecione seu sexo:</h3>


        <div  class ="informando_o_sexo" >
            <div class = "caixinha masculino" id="caixa_m">  
                <i class="fa-solid fa-mars"></i>
            </div>
            
            
            <div class = "caixinha  feminino" id="caixa_f">
                <i class ="fa-solid fa-venus"></i>
            </div>
        </div>  


        <div class="caixa_indeciso">
            <label>
            <input type="checkbox" id="check">
                <p>PREFIRO NÃO INFORMAR</p>
            </label>
        </div>


            <a href="cadastro_2.html">
                <button class = "btn-terceiro"> próximo </button>
             </a>


            <div class="etapas">

                <div class="etapa">
                    <div class="circulo um">1</div>
                </div>

                <div class="etapa">
                    <div class="circulo dois">2</div>
                </div>

                <div class="etapa">
                    <div class="circulo tres">3</div>             
                </div>
            </div>            
        </div>
     </main>




    <footer>&copy;</footer>
    <script src="../js/main.js"></script>
    <script src="../js/cadastro.js"></script>
</body>
</html>