{% extends "base.html" %}
{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/cadastro2.css' %}">
{% endblock css_extra %}


{% block conteudo_pagina %}   
    <main>
            

        <div  class = "conteiner">
            <div id="area_seta">
                <a href= "{% url "cadastro2" %}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <h2 class = "titulo_login">Por fim</h2>



            <img class = "img_senha" src="../img/senha-essa.png" alt="">


            <div class = "caixa senha">
                <i class="fa-solid fa-lock" style="color: #dddddd;"></i>
                <input  placeholder="Crie uma Senha" type="password">
            </div>

            <div class = "caixa confirmar_senha">
                <i class="fa-regular fa-address-book"></i>
                <input  placeholder="Confirme sua Senha" type="password">
            </div>
            
            
            <a href= "{% url 'conta_criada' %}">
             <button class = "btn-terceiro"> Confirmar </button>
            </a>




            <div class="etapas">
                <div class="etapa um">
                    <div class="circulo uxx">
                    <i class="fa-solid fa-check" style="color: #ffffff;"></i></div>
                </div>

                <div class="etapa dois">
                    <div class="circulo doixx"><i class="fa-solid fa-check" style="color: #ffffff;"></i></div>
                </div>

                <div class="etapa tres">
                    <div class="circulo trexx">3</div>   
                              
                </div>

            </div>




            
        </div>
     </main>
     {% endblock conteudo_pagina %}   

     
    <footer>&copy;</footer>
    <script src="../js/main.js"></script>
</body>
</html>