{% extends "base.html" %}
{% load static %}
{% block css_extra %}
    <link rel="stylesheet" href="{% static "css/historia.css" %}">
{% endblock css_extra %}

{% block titulo %} História {% endblock titulo %}

{% block conteudo_pagina %}
    <main class="historia-main">
        <h2 class="noticias-titulo">HISTÓRIA</h2>

        <div class="container-historia">
            <a href="#" class="card-historia" 
               style="background-image: url('{% static "img/historia/drakos_time.png" %}');"
               data-image-src="{% static "img/historia/drakos_time.png" %}">
                <div class="card-historia-overlay">
                    <div class="card-historia-texto">
                        <h3 class="card-historia-titulo">O ESQUADRÃO</h3>
                        <p class="card-historia-descricao">O grande elenco de 2002, temido por suas sequências de vitórias e campeão Paraense do mesmo ano.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-historia" 
               style="background-image: url('{% static "img/historia/drakos_abraco.png" %}');"
               data-image-src="{% static "img/historia/drakos_abraco.png" %}">
                <div class="card-historia-overlay">
                    <div class="card-historia-texto">
                        <h3 class="card-historia-titulo">TREINO INTENSIVO</h3>
                        <p class="card-historia-descricao">O Drakos FC disputará a final contra o Paysandu, disposto a dar o “Sangue” para levantar a taça.</p>
                    </div>
                </div>
            </a>

            <a href="#" class="card-historia" 
               style="background-image: url('{% static "img/historia/drakos_campeao.png" %}');"
               data-image-src="{% static "img/historia/drakos_campeao.png" %}">
                <div class="card-historia-overlay">
                    <div class="card-historia-texto">
                        <h3 class="card-historia-titulo">DRAKOS FC CAMPEÃO</h3>
                        <p class="card-historia-descricao">Drakos FC vence o Paysandu, ganha o Paraense 2024 com raça e quebra o jejum de títulos.</p>
                    </div>
                </div>
            </a>
        </div>
    </main>

    <div class="historia-modal-overlay" id="historia-modal-overlay">
        <div class="historia-modal-content">
            <span class="historia-modal-close" id="historia-modal-close">&times;</span>
            <img src="" alt="História do Drakos FC" id="historia-modal-img">
            <h3 id="historia-modal-title"></h3>
            <p id="historia-modal-desc"></p>
        </div>
    </div>
{% endblock conteudo_pagina %}


{% block js_pagina %}
    <script src="{% static "js/historia.js" %}"></script>
{% endblock js_pagina %}
</body>
</html>