{% extends "base.html" %}
{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/loja_detalhe.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock css_extra %}

{% block titulo %} Detalhes {% endblock titulo %}


<body>
  {% block conteudo_pagina %}
  <header class="topo">
    <a href= "{% url "produtos" %}" class="voltar"><i class="fa-solid fa-arrow-left"></i></a>
    <h1 class="marca">DRAKOS FC</h1>
  </header>

  <main class="produto-container">
    <!-- IMAGEM DO PRODUTO -->
      <section class="galeria">
        {% if produto.imagens.all %}
            <img class="imagem-principal" src="{% static produto.imagens.all|first.imagem %}" alt="{{ produto.nome_produtos }}" />
        {% elif produto.imagem_produtos %}
            <img class="imagem-principal" src="{% static produto.imagem_produtos %}" alt="{{ produto.nome_produtos }}" />
        {% else %}
            <img class="imagem-principal" src="{% static "img/produtos/default.webp" %}" alt="{{ produto.nome_produtos }}" />
        {% endif %}

        <div class="miniaturas">
          {% for imagem in produto.imagens.all %}
              <img src="{% static imagem.imagem %}" alt="Thumbnail" class="{% if forloop.first %}ativa{% endif %}" data-full="{% static imagem.imagem %}">
          {% empty %}
              {% if produto.imagem_produtos %}
                  <img src="{% static produto.imagem_produtos %}" alt="Thumb 1" class="ativa" data-full="{% static produto.imagem_produtos %}">
              {% endif %}
          {% endfor %}
          </div>
      </section>

        <!-- DETALHes -->
    <section class="detalhes">
      <h2 class="titulo">{{ produto.nome_produtos }}</h2>

      <p class="fabricante">Fabricado por <span>Puma</span></p>
      <p class="preco">R${{ produto.valor_produtos|floatformat:2 }}</p>

      {% comment %} <div class="tamanhos">    
        <h3>Selecionar tamanho</h3>
        <div class="botoes-tamanho">
          <button>P</button>
          <button>M</button>
          <button>L</button>
          <button>GG</button>
        </div>
      </div> {% endcomment %}

      <div class="acoes">
        <button class="btn comprar">Comprar agora</button>
        <button class="btn-adicionar" id="btnAdicionarCarrinho" data-id="{{ produto.id_produtos }}" data-nome="{{ produto.nome_produtos }}">
          <i class="fa-solid fa-cart-plus"></i> Adicionar ao Carrinho
        </button>
      </div>
    </section>
  </main>
{% endblock conteudo_pagina %}

{% block js_pagina %}
  <script src="{% static "js/loja_detalhe.js" %}"></script>
{% endblock js_pagina %}
</body>
</html>
