{% extends "base.html" %}
{% load static %}


{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/loja_produtos.css'%}">
{% endblock css_extra %}




{% block conteudo_pagina %}

<main class="container">

  <!-- Banner com título à esquerda e carrossel automático à direita -->
  <section class="banner-wrapper">
    <div class="banner-title">
      <h2>DRAKO STORE</h2>
    </div>

    <div class="banner-carousel">
      <div class="banner-slide active">
        <img src= "{% static "img/banners/banner1.png" %}" alt="Banner 1">
      </div>
      <div class="banner-slide">
        <img src= "{% static "img/banners/banner2.png" %}" alt="Banner 2">
      </div>
      <div class="banner-slide">
        <img src= "{% static "img/banners/banner3.png" %}" alt="Banner 3">
      </div>
    </div>
  </section>

  <!-- Seção temporada com carrossel manual -->
<section class="season">
  <div class="season-text">
    <h2>TEMPORADA 25/26</h2>
    <p>
      Os mantos da nova temporada já estão disponíveis. Sócios podem levar descontos de até 50%.<br>
      Os uniformes feitos do material de vibranium, junto com um pequeno ingrediente.<br>
      Se você for pobre, melhor sair dessa tela de produtos...<br>
      Desde já, agradeço. Bye Bye
    </p>
  </div>

  <!-- Containe do carrossel e seta como flex -->
  <div class="season-wrapper">
    <div class="season-carousel">
      <div class="season-slide active">
         <img src= "{% static "img/pessoas_modelos/primerio_carrosel.png" %}" alt="Slide 1">
      </div>
      <div class="season-slide">
        <img src= "{% static "img/pessoas_modelos/beckham_carrosel.png" %}" alt="Slide 2">
      </div>
      <div class="season-slide">
        <img src= "{% static "img/pessoas_modelos/uniforme_branco.png" %}" alt="Slide 3">
      </div>
    </div>
    <button class="next-slide">&#8250;</button>
  </div>
</section>

  <!-- Seção de produtos -->
  <section class="produtos">
    <h2>PRODUTOS</h2>
    <nav class="filter">
      <a href="#">Camisas</a>
      <a href="#">Shorts</a>
      <a href="#">Acessórios</a>
    </nav>



<div class="carrossel-produtos 1">
  <!-- Botão de voltar -->
  <button class="btn-prev">&#10094;</button>

  <!-- Container dos produtos -->
  <div class="flex">
    <div class="produto">
      <a href= "{% url 'loja_detalhe' %}">
      <img src= "{% static "img/produtos/camisas/camisa_retro.webp" %}" alt="Produto 1">
      </a>
      <h3>Uniforme temp 24/25</h3>
      <p>R$299,90</p>
    </div>

    <div class="produto">
      <a href= "{% url 'loja_detalhe' %}">
        <img src= "{% static "img/pessoas_modelos/uniforme_braco.png" %}" alt="Produto 2">
      </a>
      <h3>Uniforme Alternativo</h3>
      <p>R$299,90</p>
    </div>
    
    <div class="produto">
      <a href= "{% url 'loja_detalhe' %}">
        <img src= "{% static "img/produtos/camisas/uniforme_personalizado.png" %}" alt="Produto 3">
      </a>
      <h3>Uniforme Branco</h3>
      <p>R$299,90</p>
    </div>

    <div class="produto">
      <a href= "{% url 'loja_detalhe' %}">
      <img src= "{% static "img/pessoas_modelos/terceiro_uniforme.png" %}" alt="produto 4">
      </a>
      <h3>Chinelo Oficial</h3>
      <p>R$99,90</p>
    </div>

    <div class="produto">
      <a href= "{% url 'loja_detalhe' %}">
      <img src= "{% static "img/pessoas_modelos/modeloh_camisa_branca.jpg" %}" alt="produto 5">
      </a>
      <h3>Adesivo Drako</h3>
      <p>R$9,90</p>
    </div>

    <div class="produto">
      <a href= "{% url 'loja_detalhe' %}">
      <img src= "{% static "img/pessoas_modelos/modeloh_camisa_branca.jpg" %}" alt="Produto 6">
      </a>
      <h3>Bola Oficial</h3>
      <p>R$199,90</p>
    </div>
  </div>

  <!-- Botão de avançar -->
  <button class="btn-next">&#10095;</button>
</div>



      <div class="carrossel-produtos 2">    
        <button class="btn-prev">&#10094;</button>
        <div class="flex">

          <div class="produto">
            <a href= "{% url 'loja_detalhe' %}">
              <img src= "{% static "img/produtos/acessorios/item _cachecol.png" %}" alt="Produto 1">
            </a>  
              <h3>Uniforme temp 24/25</h3>
              <p>R$299,90</p>
          </div>

        <div class="produto">
          <a href= "{% url 'loja_detalhe' %}">
              <img src= "{% static "img/produtos/acessorios/item_chapeu.png" %}" alt="Produto 2">
          </a> 
              <h3>Uniforme Alternativo</h3>
              <p>R$299,90</p>
        </div>

        <div class="produto">
          <a href= "{% url 'loja_detalhe' %}"> 
              <img src= "{% static "img/produtos/acessorios/item_chaveiro.png" %}" alt="Produto 3">
              <h3>Uniforme Branco</h3>
          </a> 
              <p>R$299,90</p>
        </div>

        <div class="produto">
          <a href= "{% url 'loja_detalhe' %}">
              <img src= "{% static "img/produtos/acessorios/escudo.png" %}" alt="produto 4">
              <h3>Chinelo Oficial</h3>
          </a>
              <p>R$99,90</p>
        </div>

        <div class="produto">
          <a href= "{% url 'loja_detalhe' %}">
            <img src= "{% static "img/produtos/acessorios/bola.png" %}" alt="Produto 5">
            <h3>Adesivo Drako</h3>
          </a>
            <p>R$9,90</p>
      </div>

      <div class="produto">
        <a href= "{% url 'loja_detalhe' %}">
            <img src= "{% static "" %}" alt="Produto 6">
            <h3>Bola Oficial</h3>
        </a>
            <p>R$199,90</p>
      </div> 
        
  </div>
  <button class="btn-next">&#10095;</button>
  </section>

</main>  
{% endblock conteudo_pagina %}
      <footer>&copy; 2025 Drako Store</footer>
      <script src="../js/loja_produtos.js"></script>
     
</body>
</html>
