{% extends "base.html" %}
{% load static %}

{% block css_extra %}
  <link rel="stylesheet" href="{% static 'css/proximos_jogos.css' %}">
{% endblock css_extra %}

{% block titulo %}Próximo Jogo{% endblock titulo %}


{% block conteudo_pagina %}
  <section class="jogos-wrapper">
      <!-- 🔷 JOGO EM DESTAQUE -->
      <section class="jogo-destaque">
        <p class="rodada">19ª RODADA</p>

        <div class="confronto">
          <div class="time">
            <img src="../img/logo_time_drako 3.png" alt="Escudo Drakos FC">
            <p>Drakos FC</p>
          </div>

          <span class="versus">X</span>

          <div class="time">
            <img src="../img/escudo_flamengo.jpg" alt="Escudo Flamengo">
            <p>Flamengo</p>
          </div>
        </div>

        <p class="info-jogo">09/04 - 19:00</p>
        <p class="info-jogo">Mangueirão</p>

        <a href="ingresso.html" class="btn-proximo">Próximo</a>
      </section>

      <!-- 🔷 PRÓXIMOS JOGOS -->
      <aside class="jogos-container">
        <h2 class="titulo-secundario">PRÓXIMOS JOGOS</h2>

        <div class="jogo-card">
          <img src="../img/logo_internacional.png" alt="Internacional">
          <h2>Internacional vs Drakos FC</h2>
          <p><strong>Data:</strong> 02 de Maio de 2025</p>
          <p><strong>Horário:</strong> 20h00</p>
          <a href="ingresso.html" class="btn-comprar">Comprar Ingresso</a>
        </div>

        <div class="jogo-card">
          <img src="../img/logo_sao_paulo.png" alt="São Paulo FC">
          <h2>São Paulo FC vs Drakos FC</h2>
          <p><strong>Data:</strong> 02 de Maio de 2025</p>
          <p><strong>Horário:</strong> 20h00</p>
          <a href="ingresso.html" class="btn-comprar">Comprar Ingresso</a>
        </div>

        <div class="jogo-card">
          <img src="../img/logo_fluminense.png" alt="Fluminense">
          <h2>Fluminense vs Drakos FC</h2>
          <p><strong>Data:</strong> 02 de Maio de 2025</p>
          <p><strong>Horário:</strong> 20h00</p>
          <a href="ingresso.html" class="btn-comprar">Comprar Ingresso</a>
        </div>
      </aside>
    </section>
{% endblock conteudo_pagina %}
</body>
</html>
