{% extends "base.html" %}
{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/rec_senha.css' %}">
{% endblock css_extra %}

{% block conteudo_pagina %}    

    <main>
        <div class="conteiner">
            <div id="area_seta">
                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </div>
            
            <div class="titulo">
                <h2>INFORME SEU EMAIL</h2>
                <img class="logo_email" src="{% static 'img/icones/logo_email.png' %}">       
            </div>

            <form method="POST" class="form-email">
                {% csrf_token %}
                
                <input type="email" name="email" class="input-email" placeholder="Digite seu email aqui" required>
                
                <button type="submit" class="btn-primario">ENVIAR CÓDIGO</button>
            </form>

            <p class="duvida">Não tem uma conta?</p>

            <div class="reenviar">
                <a href="#" class="reenviar">Cadastre-se</a>
            </div>
    
        </div>   
    </main>

{% endblock conteudo_pagina %}