
{% extends "base.html" %}
{% load static %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/rec_senha_2.css' %}">
{% endblock css_extra %}


{% block conteudo_pagina %}   
<main>
    
    
    <div  class = "conteiner">
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="codigo" placeholder="Código recebido" required>
                <button type="submit">Validar</button>
            </form>
            <div id="area_seta"> 
                <a href = "{% url 'recuperar_senha' %}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <h2 class = "titulo_login">Nova senha</h2>

            <div class="termos">
               <p>Atenção, ao digitar sua</p>
               <p>nova senha!</p>
            </div>

            <div class=".logo_rec_senha">
                <img class = "logo_rec_senha" src="{% static "img/icones/logo_rec_senha_2.png" %}" > 
            </div>

            <div class = "caixa usuario">
                <i class='bx bx-lock'></i>
                <input  placeholder="Nova senha" type="password">
            </div>


            <div class = "caixa senha">
                <i class='bx bx-lock'></i>
                <input  placeholder="Confirmar Senha" type="password">
            </div>
           

             <button class = "btn-primario">Alterar</button>

           
        </div>
     </main>
      {% endblock conteudo_pagina %}  
    <footer>&copy;</footer>
    <script src="../js/main.js"></script>
   
</body>
</html>