
{% extends "base.html" %}
{% load static %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/rec_senha_2.css' %}">
<link rel="stylesheet" href="{% static 'css/pages/standard.css' %}">
{% endblock css_extra %}


{% block conteudo_pagina %}
<main>
    <div class="conteiner">
        
        <div id="area_seta"> 
            <a href="{% url 'recuperar_senha' %}">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>

        <h2 class="titulo">Verificação</h2>

        <p class="subtitulo">
            Digite o código de 6 dígitos enviado para seu Email.
        </p>

        <form method="POST" class="form-codigo">
            {% csrf_token %}
        
        {% if erro %}
        <div class="erro-local">
            {{ erro }}
        </div>
        {% endif %}
            <div class="codigo-wrapper">
                <input type="text" maxlength="1" class="codigo-input" required>
                <input type="text" maxlength="1" class="codigo-input" required>
                <input type="text" maxlength="1" class="codigo-input" required>
                <input type="text" maxlength="1" class="codigo-input" required>
                <input type="text" maxlength="1" class="codigo-input" required>
                <input type="text" maxlength="1" class="codigo-input" required>
            </div>

            <input type="hidden" name="codigo" id="codigo-completo">

            <button type="submit" class="btn-primario">
                Confirmar Código
            </button>
        </form>

    </div>
</main>
{% endblock %}


{% block js_pagina %}
<script src="{% static 'js/rec_senha_2.js' %}"></script>
{% endblock js_pagina %}
