{% load static %}
<link rel="stylesheet" href="{% static 'css/game_quiz.css' %}">

<div id="introOverlay" class="intro-overlay">
    <div id="introNumber" class="intro-number">
        3
    </div>
</div>
<div id="comboPopup" class="combo-popup"></div>

<section class="quiz-container">

    <h1 class="quiz-title">FASE QUIZ</h1>

    <!-- progresso -->
    <div class="progress-bar">
        <div id="progress"></div>
    </div>
    <div class="quiz-timer" id="quizTimer">
        00:00
    </div>

    <!-- pergunta -->
    <div class="quiz-box">
        <h2 id="pergunta"></h2>
    </div>

    <!-- opções -->
    <div id="opcoes" class="opcoes"></div>


</div>

</section>

<!-- ✅ dados seguros -->
{{ perguntas|json_script:"quiz-data" }}

<script>
    const perguntas = JSON.parse(
        document.getElementById("quiz-data").textContent
    );
</script>

<script src="{% static 'js/game_quiz.js' %}"></script>