{% load static %}
<link rel="stylesheet" href="{% static 'css/menu_fases.css' %}">


<section class="menu-fases">
    <button id="profileBtn" class="profile-btn">PERFIL</button>
    <h2 class="profile-title">MEU PERFIL</h2>

    <div class="profile-info">
        <div class="info-row">
            <span class="label">ID</span>
            <span class="value">{{ usuario.id_participante }}</span>
        </div>

        <div class="info-row">
            <span class="label">NOME</span>
            <span class="value">{{ usuario.nome_participante }}</span>
        </div>
    </div>
    <a href="{% url 'logout' %}" class="logout-btn">SAIR DA CONTA</a>
 

    <h1 class="menu-title">ESCOLHA SUA FASE</h1>

    <!-- 🔺 RANKING EM CIMA -->
    <div class="ranking-top">
      <div class="ranking-list">
    {% for jogador in jogadores %}
        <div class="rank-item">
            <span>#{{ forloop.counter }} {{ jogador.nome_participante }}</span>
            <span>— • ---</span>
        </div>
    {% empty %}
        <div class="rank-item ghost">
            <span>Nenhum jogador ainda</span>
            <span>—</span>
        </div>
    {% endfor %}
</div>
    </div>

    <!-- 🔻 FASES EMBAIXO -->
    <div class="fases-container">

        <a href="{% url 'mini_game_toturial' %}" class="fase-card">
            <div class="fase-inner">
                <span class="fase-label">FASE</span>
                <span class="fase-num">01</span>
            </div>
        </a>

        <a href="#" class="fase-card locked" id="fase2" data-locked="true">
            <div class="fase-inner">
                <span class="fase-label">FASE</span>
                <span class="fase-num">02</span>
            </div>

            <div class="lock-icon">
                <svg viewBox="0 0 24 24" fill="none">
                    <path d="M7 10V7a5 5 0 0110 0v3"
                          stroke="#ff3b3b" stroke-width="1.5"/>
                    <rect x="5" y="10" width="14" height="10" rx="2"
                          stroke="#ff3b3b" stroke-width="1.5"/>
                </svg>
            </div>

            <div class="lock-warning" id="lockWarning">
                Finalize a Fase 01
            </div>
        </a>

    </div>

    <div id="profileModal" class="profile-modal">
        <div class="profile-box">
        <h2>MEU PERFIL</h2>

        <p><strong>ID:</strong> {{ request.session.participante_id }}</p>
        <p><strong>Nome:</strong> {{ jogadores.0.nome_participante }}</p>

        <button id="closeProfile">FECHAR</button>
        
    </div>
</div>
    <script src="{% static 'js/game_menu.js' %}"></script>
</section>
