
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #00266c;
    color: #ffffff;
}

.bemvindo-main {
    width: 100%;
    height: 89.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
.bemvindo-titulo {
    color: #F7C02B;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.bemvindo-botoes {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-around;
    align-items: center;
}

.bemvindo-botoes a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #ffffff;
    width: 200px;
    text-align: center;
    height: 60px;
    border-radius: 12px;
}
.bemvindo-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    
    
}

.bemvindo-btn.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.bemvindo-escudo {
    width: 150px;
    height: auto;
    margin: 0 auto;
}