{% extends "base.html" %}
{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/cadastro2.css' %}">
    <link rel="stylesheet" href="{% static 'css/botoes_cores_fontes/ver_botoes.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

{% endblock css_extra %}


<form method="POST">
    {% csrf_token %}



{% block conteudo_pagina %}   

    
    <main>
        <div  class = "conteiner">
            <div id="area_seta">
                <a href="{% url 'cadastro' %}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <h2 class = "titulo_login">Quase-lá</h2>

            <img class = "mascote" src="../" alt="">

            <div class = "caixa email">
                <i class='bx  bx-envelope-open'  ></i>
                <input name="email" placeholder="Email" type="email" required>
                 
            </div>

            
            <div class = "caixa telefone">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <input name="telefone" placeholder="Telefone" type="text">
            </div>
            <p class = "informando">Tel não obrigatorio.</p> 


            <div class = "caixa cpf">
                <i class="fa-regular fa-address-book"></i>
                <input name="cpf" placeholder="CPF" type="text" required>   
            </div>

            
            
            <a href= "{% url "cadastro3" %}">
             <button class = "btn-terceiro"> próximo </button>
             </a>



            <div class="etapas">
                <div class="etapa um">
                    <div class="circulo uxx">
                    <i class="fa-solid fa-check" style="color: #ffffff;"></i></div>
                </div>

                <div class="etapa dois">
                    <div class="circulo doixx">2</div>
                </div>

                <div class="etapa tres">
                    <div class="circulo trexx">3</div>             
                </div>

            </div>
        </div>
     </main>
     {% endblock conteudo_pagina %}   


    <footer>&copy;</footer>
    <script src="../js/main.js"></script>
</body>
</html>