{% extends "base.html" %}
{% load static %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
{% endblock css_extra %}


{% block conteudo_pagina %}

<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}

<main>
    <div class="conteiner">
        <!-- ETAPA 1: Nome e Sexo -->
        <section class="etapa_cadastro" id="etapa1">
            <div id="area_seta">
                <a href="{% url 'login' %}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            
            <h2 class="titulo_login">Cadastrar-se</h2>

            <div class="caixa usuario">
                <i class='bx bx-user'></i>
                <input id="nome" name="nome" placeholder="Nome" type="text" required>
            </div>

            <div class="caixa usuario">
                <i class='bx bx-user'></i>
                <input id="nome" name="sobrenome" placeholder="Sobrenome" type="text" required>
            </div>

            <h3 class="comando">Selecione seu sexo:</h3>

            <div class="informando_o_sexo">
                <div class="caixinha masculino" id="caixa_m">
                    <i class="fa-solid fa-mars"></i>
                    <input type="radio" name="sexo" id="" value="Masculino">
                </div>
                <div class="caixinha feminino" id="caixa_f">
                    <i class="fa-solid fa-venus"></i>
                    <input type="radio" name="sexo" id="" value="Feminino">
                </div>
            </div>

            <div class="caixa_indeciso">
                <label>
                    <input type="checkbox" id="check">
                    <p>PREFIRO NÃO INFORMAR</p>
                </label>
            </div>

            <button type="button" class="btn-terceiro" onclick="proximaEtapa(2)">Próximo</button>
        </section>

        <!-- ETAPA 2: Email, Telefone e CPF -->
        <section class="etapa_cadastro" id="etapa2" style="display:none;">
            <div id="area_seta">
                <a href="#" onclick="event.preventDefault(); proximaEtapa(1)"><i class="fa-solid fa-arrow-left"></i></a>
            </div>

            <h2 class="titulo_login">Quase lá</h2>

            <div class="caixa email">
                <i class='bx bx-envelope-open'></i>
                <input name="email" id="email" placeholder="Email" type="email" required>
            </div>

            <div class="caixa telefone">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <input id="telefone" name="telefone" placeholder="Telefone (opcional)" type="tel">
            </div>

            <div class="caixa cpf">
                <i class="fa-regular fa-address-book"></i>
                <input id="cpf" name="cpf" placeholder="CPF" type="text" maxlength="14" required>
            </div>

            <button type="button" class="btn-terceiro" onclick="proximaEtapa(3)">Próximo</button>
        </section>

        <!-- ETAPA 3: Senha -->
        <section class="etapa_cadastro" id="etapa3" style="display:none;">
            <div id="area_seta">
                <a href="#" onclick="event.preventDefault(); proximaEtapa(2)"><i class="fa-solid fa-arrow-left"></i></a>
            </div>

            <h2 class="titulo_login">Por fim</h2>

            <div class="caixa senha" >
                <i  id="caixa_f" class="fa-solid fa-lock" style="color: #dddddd;"></i>
                <input id="senha" name="senha" placeholder="Crie uma Senha" type="password" required>
            </div>

            <div class="caixa confirmar_senha">
                <i class="fa-regular fa-address-book"></i>
                <input id="confirmSenha" name="confirmSenha" placeholder="Confirme sua Senha" type="password" required>
            </div>

            <button type="button" class="btn-terceiro" onclick="proximaEtapa(4)">Próximo</button>
        </section>

        <!-- ETAPA 4: Endereço (Opcional) -->
        <section class="etapa_cadastro" id="etapa4" style="display:none;">
            <div id="area_seta">
                <a href="#" onclick="event.preventDefault(); proximaEtapa(3)"><i class="fa-solid fa-arrow-left"></i></a>
            </div>

            <h2 class="titulo_login">Seu Endereço</h2>

            <div class="caixa rua">
                <i class='bx bx-map'></i>
                <input id="rua" name="rua" placeholder="Rua" type="text">
            </div>

            <div class="caixa casa">
                <i class='bx bx-hash'></i>
                <input id="casa_numero" name="casa_numero" placeholder="Número" type="text">
            </div>

            <div class="caixa bairro">
                <i class='bx bx-compass'></i>
                <input id="bairro" name="bairro" placeholder="Bairro" type="text">
            </div>

            <div class="caixa cep">
                <i class='bx bx-barcode'></i>
                <input id="cep" name="cep" placeholder="CEP" type="text" maxlength="8">
            </div>

            <div class="caixa complemento">
                <i class='bx bx-note'></i>
                <input id="complemento" name="complemento" placeholder="Complemento" type="text" required>
            </div>

            <button type="button" class="btn-terceiro" onclick="validarCadastro()">Confirmar Cadastro</button>
        </section>
    </div>
</form>
</main>


{% endblock conteudo_pagina %}

{% block js_pagina %}

<script src="{% static 'js/cadastro.js' %}"></script>
{% endblock js_pagina %}
